vendor
node_modules
.git
.env
.env.*
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/backups/*
tests
.phpunit.cache
Dockerfile
.dockerignore
